<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Dain chatel is a brooklyn-based engineer and sci fi writer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
    <title>DAIN CHATEL</title>
  </head>
  <body id="root">
    <header>Dain chatel</header>
    <main>
      <section>
        <img src="{{ image }}" alt="dain on a boat"/>
      </section>
      <section>
        <article>
          <h2>code</h2>
          <ul>
            <li>
              <p>
                senior engineer at 
                <a target="_blank" rel="noopener noreferrer" href="http://mantl.com">
                  mantl
                </a> 
              </p>
            </li>
            <li>
              <p>
                <a target="_blank" rel="noopener noreferrer" href="https://www.npmjs.com/package/commitr/v/1.1.5">commitr</a>
              </p>
            </li>
            <li>
              <p>
                <a target="_blank" rel="noopener noreferrer" href="https://painfreecats.org/">pain free cats</a>
              </p>
            </li>
           
          </ul>
          <h2>writing</h2>
          <ul>
            <li>
              <p>
                fiction in 
                <a target="_blank" rel="noopener noreferrer" href="http://afvpress.com/project/logue-blue/">
                  logue [blue]
                </a>
              </p>
            </li>
            <li>
              <p>
                <a target="_blank" rel="noopener noreferrer" href="/bowling_scene.pdf">croc apocalypse</a>
              </p>
            </li>
            <li>
              <p>
                work in 
                <a target="_blank" rel="noopener noreferrer" href="https://isis2.cc.oberlin.edu/stupub/plmcreek/archive/spring2009.pdf"> 
                  plum creek review
                </a>
              </p>
            </li>
          </ul>
        </article>
        <article>
          <h2>contact</h2>
          <ul>
            <li>
              <p>dain.chatel@gmail.com</p>
            </li>
            <li>
              <p><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/best_landlord">twitter</a></p>
            </li>
            <li>
              <p><a target="_blank" rel="noopener noreferrer" href="https://github.com/dainchatel">github</a> 
              </p>
            </li>
          </ul>
        </article>
      </section>
    </main>
    <footer>© 2021 • brooklyn</footer>
  </body>
</html>