<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
    <title>Dain chatel</title>
  </head>
  <body id="root">
    <header>Dain chatel</header>
    <main>
      <section>
        <img src="{{ image }}" alt="dain in tangier"/>
      </section>
      <section>
        <p>I like writing and systems design. I live in brooklyn</p>
      </section>
      <section>
        <article>
          <h2>work</h2>
          <ul>
            <li>
              <p>
                fiction in 
                <a target="_blank" rel="noopener noreferrer" href="http://afvpress.com/project/logue-blue/">
                  logue [blue]
                </a>
              </p>
            </li>
            <li>
              <p>
                code 
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/dainchatel">here</a>, 
                <a target="_blank" rel="noopener noreferrer" href="https://www.npmjs.com/~dainchatel">here</a>, and 
                <a target="_blank" rel="noopener noreferrer" href="https://painfreecats.org/">here</a>
              </p>
            </li>
            <li>
              <p>
                <a target="_blank" rel="noopener noreferrer" href="/bowling_scene.pdf">croc apocalypse</a>, a 
                <a target="_blank" rel="noopener noreferrer" href="https://screamfestla.com/2015/festival/screenplay-competition">
                  screamfest semi-finalist
                </a>
              </p>
            </li>
            <li>
              <p>
                full stack at 
                <a target="_blank" rel="noopener noreferrer" href="http://mantl.com">
                  mantl
                </a>
              </p>
            </li>
            <li>
              <p>
                work in 
                <a target="_blank" rel="noopener noreferrer" href="https://isis2.cc.oberlin.edu/stupub/plmcreek/archive/spring2009.pdf"> 
                  plum creek review
                </a>
              </p>
            </li>
          </ul>
        </article>
        <article>
          <h2>contact</h2>
          <ul>
            <li>
              <p><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/best_landlord">twitter</a></p>
            </li>
            <li>
              <p><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/dain-chatel/">linkedin?</a></p>
            </li>
          </ul>
        </article>
      </section>
    </main>
    <footer>© 2021</footer>
  </body>
</html>