<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
    <title>We doin this</title>
  </head>
  <body id="root">
    <header>Dain chatel</header>
    <main>
      <section>
        <img src="IMG_3074.jpg" />
      </section>
      <section>
        <article>
          <h2>writing</h2>
          <ul>
            <li>stuff</li>
            <li>{{ thing }}</li>
            <li>stuff</li>
          </ul>
        </article>
        <article>
          <h2>coding</h2>
          <ul>
            <li>stuff</li>
            <li>stuff</li>
            <li>stuff</li>
          </ul>
        </article>
        <article>
          <h2>contact</h2>
          <ul>
            <li>stuff</li>
            <li>stuff</li>
          </ul>
        </article>
      </section>
    </main>
    <footer>i own this</footer>
  </body>
</html>